/* contact responsive css */

@media (max-width: 767.98px) {
    .contactbanner-heading
    {
        font-size: 91px;
    }
    sup {
        top: -0.1em;

    }
    /* .contactimage {
        float: right;
    
        height: 36vh;
    } */
     
    .flowerimage {
       display: none;
    }

    .contact-btn
    {
        width: fit-content;

    }
    .form-container {
        margin-left: 0%;
    }
    .homeheading
    {
        margin-top: 0rem;
    }
    .form-contact {
        width: fit-content;
    }
    .green-heading {
        font-size: 58px;
        line-height: 60px;
    }
    .officeaddress {
        margin-top: 26px;
    }
    .socailmediaicons {
        margin-bottom: 23px;
    }
    .contact-subheading{
        line-height: 18px;
    }
    .contactbanner-heading {
        font-size: 45px;
        line-height: 55px;
        float: left;
        width: 100%;
        padding: 3%;
    }
    .contact-subheading {
        line-height: 18px;
        font-size: 55px;
        padding: 0% 0% 0% 2%;
    }
    .contactsectiontwo
    {
        padding: 14px;
    }
    .contact-btn {
        width: fit-content;
    }
    .form-contact {
        width: fit-content;
    }
    .contact-right {
        float: right;
        margin-top: 0%;
    }


}
@media (min-width: 768px) and (max-width:991px){
    .contactbanner-heading
    {
        font-size: 68px;
        line-height: 70px;
        float: left;
    }
    .contactdiv {
        width: 100%;
        margin-top: 15px;
    }
    sup {
        top: -0.9rem;
    }
    .homeheading
    {
        margin-top: 0px;
    }
    .contact-btn {
        width: fit-content;
    }
    .form-contact{
        width: fit-content;

    }
    .green-heading {
        font-size: 63px;
        line-height: 44px;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .contact-right {
        float: right;
        margin-top: 0%;
    }

}

@media (min-width: 992px) and (max-width: 1200px){
     .contactbanner-heading
    {
        font-size: 68px;
        line-height: 80px;
        float: left;
    }
    sup {
        top: -0.1em;
    }
    .contact-container {
        margin-top: 8%;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 60%;
    }
    .contactimage {
        float: right;
      
    }
    .flowerimage {
     display: none;
    }
    .contact-btn
    {
        width: fit-content;

    }
    .form-container {
        margin-left: 0%;
    }
    .homeheading
    {
        margin-top: 0rem;
    }
    .form-contact {
        width: fit-content;
    }
    .green-heading {
        font-size: 58px;
        line-height: 60px;
    }
    .officeaddress {
        margin-top: 26px;
    }
    .socailmediaicons {
        margin-bottom: 23px;
    }
    .address
    {
        margin: 0px;
    }
    .contact-right {
        float: right;
        margin-top: 0%;
    }

}

.fade-in-text {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 1s forwards;
}

@keyframes fadeInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-letters span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInLetter 1s forwards;
    animation-delay: calc(var(--delay) * 0.1s);
    letter-spacing: -1px;
  
}

@keyframes fadeInLetter {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}